:root{
	--azul1: #2C3333;
	--azul2: #2E4F4F;
    --blanco: #E8E8E8;
    --negro: #212121;
	--fuente: 'Trebuchet MS';
}

body{
    background: var(--azul1);
    font-family: var(--fuente);
    font-size: 16px;
}


.cajaHeader, .cajaMain, .cajaFooter{
    width:  80vw;
    margin-inline: auto;
    margin-top: 5vh;
}

/* Estilos Header */
.cajaHeader{
    display: flex;
    justify-content: space-between;
}

.imgEncabezado{
    width: 5%;
    height: 5%;    
}

.imgEncabezadoCentro{
    width: 20%;
}

/* Estilos Main */
.cajaMain{
    display: flex;
    justify-content: center;
}

.cajaMain section{
    width:  90%;
    height: 100%;
}

.cajaMain .separador{
    width:  10%;
}

.cajaEntrada, .cajaSalida{
    box-sizing: border-box;
    font-size: 14px;
    font-family: var(--fuente);
    background: white;
    width: -webkit-fill-available;
    padding: 3% 3%;
    height: 300px;
    border-width: 0;
    border-radius: 20px;
    resize: none;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.8);
}

.txtEntrada{
    padding: 0;
    width: 100%;
    height: 86%;
    font-size: 14px;
    resize: none;
    border: none;
    outline: none;
    font-family: var(--fuente);
}

.txtEntrada::-webkit-scrollbar, .txtSalida::-webkit-scrollbar{
    width: 13px;
}

.txtEntrada::-webkit-scrollbar-track, .txtSalida::-webkit-scrollbar-track{
    background-color: #e4e4e4;
    border-radius: 100px;
}

.txtEntrada::-webkit-scrollbar-thumb, .txtSalida::-webkit-scrollbar-thumb{
    background-color: #d4aa70;
    border-radius: 100px;
}

.advertencia{
    color: var(--blanco);
    margin: 20px 0;
    vertical-align: middle;
}

.botones{
    display: flex;
    align-content: center;
}

.btn{
    width: 35%;
    font-size: 13px;
    font-weight: bolder;
    color: var(--blanco);
    position: relative;
    margin: auto;
    padding: 0.7em 2.5em;
    border: none;
    background: var(--azul2);
    transition: all 0.3s linear;
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.6);
    cursor: pointer;
}

.btnBorde{
    transition: all 0.5s linear;
}
   
.btn:active {
    transform: scale(0.95);
}
   
.btn .btnBorde {
    position: absolute;
    border: 0.15em solid var(--azul2);
    transition: all 0.3s 0.08s linear;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 2em;
    transform: translate(-50%, -50%);
}
   
.btn:hover .btnBorde {
    display: block;
    width: calc(100% + 0.6em);
    height: 3.3em;
    border-color: var(--blanco)
}

.btn:hover{
    background: var(--blanco);
    color: var(--negro);
}
   
.btnEstilo {
    border-radius: 2em;
}

.txtSalida{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 86%;
    overflow-y: auto;
    resize: none; 
    word-break: break-word;
    line-height: normal;
}


.datoTmp:first-child{
    width: 30%;
}

.datoTmp:nth-child(2){
    font-weight: bold;
    font-size: 20px;
}

.datoTmp:not(first-child){
    text-align: center;
}

.copiar, .limpiar{
    display: none;
    justify-content: end;
    align-items: end;
    height: 14%;
}

.btnCopiar, .btnLimpiar{
    height: 50%;
    background: none;
    border: none;
    transition: 1s all;
    cursor: pointer;
}

.ri-file-copy-2-line, .ri-delete-bin-6-line{
    font-size: 23px;
}


.btnCopiar:hover, .btnLimpiar:hover{
    transform: scale(1.2);
}

/* Estilos Footer */
.cajaFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.iconos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.linea{
    border: 1px solid var(--blanco);
    width: 30%;
}

.icono{
    color: var(--blanco);
    width: 30px;
    height: 30px;
    font-size: 14px;
    display: inline-flex;
    margin: 10px;
    text-decoration: none;
    outline: 2px solid var(--blanco);
    border-radius: 50%;
    transition-property: all;
	transition-duration: 0.25s;
}

.icono:hover {
	outline-offset: 4px;
}

.icono i{
    margin: auto;
}

.icono:hover i {
	animation: shake 0.45s;
}

.iconoGmail:hover {
	background-color: #F14336;
	outline-color: #F14336;
}

.iconoLinkedin:hover {
	background-color: #0077b5;
	outline-color: #0077b5;
}

.iconoGithub:hover {
	background-color: #2ea44f;
	outline-color: #2ea44f;
}

@keyframes shake {
	10% {
		transform: rotate(15deg);
	}
	20% {
		transform: rotate(-15deg);
	}
	30% {
		transform: rotate(15deg);
	}
	40% {
		transform: rotate(-15deg);
	}
}

.copyright{
    color: var(--blanco);
    text-align: center;   
    margin-top: 10px;
}

.txtCopyright{
    margin-bottom: 10px;
    font-size: 12px;
}



/* Cambios segun el dispositvo */
/* Celular */
@media screen and (max-width: 767px){
    .cajaEntrada{
        height: inherit;
    }

    .botones{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .txtEntrada, .txtSalida{
        font-size: 12px;
    }

    .seccionEntrada:last-child{
        align-content: center;
    }

    .btn{
        width: 60%;
    }

    .btn:last-child{
        margin-top: 15px;
    }

    .ri-file-copy-2-line, .ri-delete-bin-6-line{
        font-size: 18px;
    }

    .datoTmp:nth-child(2){
        font-size: 16px;
    }
    
    .datoTmp:nth-child(3){
        font-size: 12px;
    }

    .linea{
        display: none;
    }
}
    
/* Tablet */
@media (max-width: 1023px){
    body{
        font-size: 12px;
    }

    .imgEncabezado{
        width: 8vw;
    }

    .imgEncabezadoCentro{
        width: 25vw;
    }

    .cajaMain{
        display: block;
    }

    .separador{
        display: none;
    }

    .cajaMain section{
        width: 100%;
    }

    .cajaEntrada, .seccionSalida, .cajaSalida{
        height: 200px;
    }

    .datoTmp:first-child{
        display: none;
    }

    .seccionSalida{
        margin-top: 40px;
    }    
}

/* Computadora */
@media screen and (min-width: 1024px){
    .imgEncabezadoCentro{
        display: none;
    }
}
    


